.space-due-fixed-child {
  margin: 3rem 0;
}

.desktop-header-container {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: var(--color-primary-light);
  display: flex;
  align-items: center;
  .logo {
    margin: 0 1rem;
  }
  .search-container {
    margin: 0.5rem 2rem;
    max-width: var(--search-width);
    width: 100%;
    .search-form-autocomplete {
      position: fixed;
      max-width: var(--search-width);
      max-height: 600px;
      overflow-y: auto;
    }
  }
  .personal-data-section {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 1px;
}
